@import 'tailwindcss';
@plugin "daisyui";

/* Add this to your CSS file or <style> block */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Opera */
}
.hide-scrollbar {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none;
}

.wrapper {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination {
  position: static !important;
  width: fit-content !important;
  padding: 0 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
